<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Controlador.series.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarSerieServlet</servlet-name>
        <servlet-class>Controlador.series.ActualizarSerieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarSerieServlet</servlet-name>
        <servlet-class>Controlador.series.EliminarSerieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarSerieServlet</servlet-name>
        <servlet-class>Controlador.series.GuardarSerieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActores</servlet-name>
        <servlet-class>Controlador.series.actores.ServletActores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarActorServlet</servlet-name>
        <servlet-class>Controlador.series.actores.ActualizarActorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarActorServlet</servlet-name>
        <servlet-class>Controlador.series.actores.EliminarActorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarActorServlet</servlet-name>
        <servlet-class>Controlador.series.actores.GuardarActorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActoresSerieServlet</servlet-name>
        <servlet-class>Controlador.series.ActoresSerieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeriesActorServlet</servlet-name>
        <servlet-class>Controlador.series.actores.SeriesActorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarActorSerieServlet</servlet-name>
        <servlet-class>Controlador.series.EliminarActorSerieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarSerieServlet</servlet-name>
        <url-pattern>/ActualizarSerieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarSerieServlet</servlet-name>
        <url-pattern>/EliminarSerieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActores</servlet-name>
        <url-pattern>/ServletActores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarSerieServlet</servlet-name>
        <url-pattern>/GuardarSerieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarActorServlet</servlet-name>
        <url-pattern>/ActualizarActorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarActorServlet</servlet-name>
        <url-pattern>/EliminarActorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarActorServlet</servlet-name>
        <url-pattern>/GuardarActorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActoresSerieServlet</servlet-name>
        <url-pattern>/ActoresSerieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeriesActorServlet</servlet-name>
        <url-pattern>/SeriesActorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarActorSerieServlet</servlet-name>
        <url-pattern>/EliminarActorSerieServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
